* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #daded4;
  font-family: "Rubik", sans-serif;
}
header {
  margin-bottom: 2em;
}

a {
  text-decoration: none;
  color: black;
}

.nav {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 5em;
  letter-spacing: 1px;
}

h2 {
  border: 3px black solid;
  padding: 0.5em;
}

.nav a {
  font-size: 1.3em;
  font-weight: bold;
}

.nav a:hover {
  color: #39603d;
  transition: all ease-in-out 0.5s;
}

li {
  align-self: center;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  float: right;
  font-size: 16px;
  line-height: 1.5;
  height: 40vh;
  width: 80vw;
  margin: auto;

  color: #3c403d;
}

div {
  width: 30vw;
}
h1 {
  margin: 0;
  color: #39603d;
  font-size: 5em;
}

.resume {
  border: 2px solid #39603d;
  padding: 10px;
  width: 6em;
  color: #39603d;
  font-size: 1.3em;
  text-align: center;
}
