/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap'); */
*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}
/* 
    APP THINGS 
*/
.App{
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  height: 100vh;
  width: 100vw;
}

body{
  background-color: #333;
}


/* 
    HEADER THINGS
*/


#primary-navigation{
  background-color: white;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: hsl(0 0% 0% / 0.85);
  height: 100vh;
}

@supports (backdrop-filter: blur(1rem)){
  #primary-navigation{
    background: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(1rem);
  }
}

.mobile-nav-toggle{ display: none; }

.sr-only{
  display: none;
}

header a{
  position: relative;
  text-decoration: none;
  color: white;
  font-size: 1.3em;
}

header a::after{
  content: "";
  position: absolute;
  background-color: #93FF96;
  height: 0;
  width: 3px;
  left: -10px;
  transition: all ease-in-out 0.25s;
}

header a:hover::after{
  /* width: 100%; */
  height: 100%;
}

nav ul{
  list-style: none;
}

nav .active{
  color: #93FF96;
}

nav .active::before{
  color: #93FF96;
  content: "> ";
}

header li {
  margin-bottom: 1em;
}

@media (max-width: 35em){

  #primary-navigation{
    position: fixed;
    inset: 0 30% 0 0;
    padding: min(20vh, 5rem) 2em;
    z-index: 999;
    transform: translateX(-100%);
    transition: transform 0.35s ease-in-out;
  }

  #primary-navigation[data-visible="true"]{
    transform: translateX(0%);
  }


  .mobile-nav-toggle{
    display: block;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    position: absolute;
    top: 2em;
    left: 2em;
    z-index: 1000;
  }

  .bar1, .bar2, .bar3{
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }

  .change .bar1{
    transform: translate(0, 11px) rotate(-45deg);
  }
  .change .bar2{
    opacity: 0;
  }
  .change .bar3{
    transform: translate(0, -11px) rotate(45deg);
  }
}

/* 
    FOOTER THINGS
*/


/* 
    HOME 
*/

.home{
  display: flex;
  flex-direction: column;
  padding: 2em;
  height: 100%;
  width: 80%;
  background-color: #333;
  color: white;
  font-size: 2em;
}

.home *:not(h1){
  margin-bottom: 1em;
}

.home h1{
  /* font-size: 3em; */
  margin-bottom: 0.2em;
}

.p-title{
  color: #93FF96;
}

.subtitle{
  color: #b8b8b8;
  font-size: 1.2em;
}

.home img{
  border-radius: 50%;
}

.a-button{
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #93FF96;
  padding: 1rem;
  width: fit-content;
  border: 2px solid #93FF96;
  border-radius: 1rem;
  transition: all ease-in-out 0.3s;
}

.a-button:hover{
  background-color: #333;
  color: #fff;
}

/*
    RESUME THINGS
*/

.resume{
  display: flex;
  flex-direction: column;
  padding: 2em;
  height: 100%;
  width: 80%;
  background-color: #333;
  color: white;
  font-size: 2em;
}

@media screen and (min-width: 600px){

}

